<%= form_with url: "/applications/#{@application.id}", method: :get do |form| %>
  <%= form.label :search, "Add a Pet to this Application"%>
  <%= form.text_field :search %>
  <%= form.submit "Search"%>
<% end %>

<% if params[:search] %>
  <% @search_result.each do |pet| %>
    <% next if @application.pets.include?(pet)  %>
      <div id= "pet-search-result-<%= pet.id %>" >
      <%= pet.name %> 
      <%= button_to "Adopt This Pet", "/pet_applications/?application_id=#{@application.id};pet_id=#{pet.id}", method: :post, local: :true %>
    </div>
    <br>
  <% end %>
<% end %>