<div id="show_data" >
  <p><%= "Name: #{@application.name}" %></p>
  <p><%= "Street Address: #{@application.street_address}" %></p>
  <p><%= "City: #{@application.city}" %></p>
  <p><%= "State: #{@application.state}" %></p>
  <p><%= "Zip Code: #{@application.zip_code}" %></p>
  <p><%= "Description: #{@application.description}" %></p>
  <p><%= "Pets Applied for:" %></p>
  <% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br>
  <% end %>
  <p><%= "Application Status: #{@application.status}" %></p>
    <% if @application.bid_reason.present? %>
      <p><%= "good owner for these pet(s) because: #{@application.bid_reason}" %></p>
    <% end %>
</div>
<br>

<% if @application.status == "In Progress" %> 
  <div id="add_pet_to_app">
    <%= render partial: "search", object: @application %>
  </div>
<% end %>
<br>

<% if  @application.pets.present? && @application.status == "In Progress" %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
    <%= form.label :bid_reason, "I would make a good owner for these pet(s) because..." %>
    <%= form.text_field :bid_reason  %>
    <%= form.button "Submit Application" %>
  <% end %>
<% end %>